@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section scripts{
	
@*@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/js-custom")
@Scripts.Render("~/bundles/js-contact")*@
	
}