@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ==============================================
   HEADER
   =============================================== -->
<header id="home" class="jumbotron">

	<div class="container">

		<div class="message-box clearfix">

			<div class="left-col">
				<p>I AM <span>.NET</span></p>
			</div>

			<div class="right-col flexslider home-slider" style="z-index:1;">

				<ul class="slides">

					<li><p>Developer</p></li>

					<li><p>Enthusiast</p></li>

					<li><p>Trainer</p></li>

				</ul>

			</div><!--End home-slider -->

		</div><!--End message-box -->

	</div><!--End container -->

</header><!--End header -->


<section id="about">

	<div class="container">

		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
				<img class="img-responsive img-circle img-center" src="http://thsoftware.cz/Content/assets/about.jpg" alt="">
			</div>
			<div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
				<h1>Tomáš Horváth</h1>
				<h2>IT Konzultant &amp; .NET DEVELOPER </h2>
				<p>
					Jsem vývojář a konzultant z Jihočeského kraje, který se zajímá o .NET a agilní techniky vývoje.
					V současné době se nejvíce zaměřuji na : #KISS , #DRY , #SOLID , #DDD , #CQRS
					<br /><br />
				</p>

			</div>
		</div><!--End row -->

	</div><!--End container -->
</section>
<div id="blog-section">
	@Html.Action("Index", "BlogPost", new { pageSize = 10 })
</div>
@section scripts {

	<script>
	function Set(context) {

            var page = context.data("page");
            //var obj = JSON.parse($("#filterContext").val());
            //obj.CurrentPage = page;
            var url = "@Url.Action("Index", "BlogPost")" + "?page="+page;

            $.ajax({
                url: url,
                type: 'GET',
                //data: JSON.stringify(obj),
                beforeSend: function () {
                    //AjaxBegin();
                },
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {

					//$("#blog-section").empty();
					$("#blog-section").html(result);
                  

                },
                async: false
            });
        }

        function SetPaging() {

            $(".datapage").unbind("click");
            $(".datapage").click(function (event) {
                event.preventDefault();
               var context = $(this);
                Set(context);

            });


	}

		$(document).ready(function () {
			SetPaging();
		});
	</script>

}