@model TomasHorvath.BlogEngine.Domain.DTO.BlogPost.BlogPostDetailDTO
@{
  ViewBag.Title = Model.Headline;
  Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}


<section id="blog-item">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>@Model.Headline</h1>
				<p>
					<strong>@Model.Perex</strong>
				</p>
				<p>
					@Model.Content
				</p>
			</div>
			

		</div><!--End row -->


	</div><!--End container -->
</section>

